<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>Placeholder</title>

	<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
</head>

<body>
	<div>
		<header>
			<h1>Placeholder</h1>
		</header>
		<nav>
			<p><a href="/">Home</a></p>
		</nav>

		<div>
			<p>This is just a placeholder for the Django-MetaSettings example.</p>
		</div>

		<footer>
		 <p>Carry On</p>
		</footer>
	</div>
</body>
</html>